<div class="search-container">
  <input type="text" placeholder="Search for a song..." [(ngModel)]="searchQuery" (keyup.enter)="search()">
  <button (click)="search()">Search</button>
</div>
<div class="search-results">
  <div *ngIf="loading">Buscando...</div>
  <div *ngIf="!loading && errorMsg">{{ errorMsg }}</div>
  <div *ngFor="let track of searchResults">
    <p>{{ track.name }} - {{ track.artists[0].name }}</p>
    <button *ngIf="track.preview_url" (click)="playPreview(track)">Play preview</button>
    <span *ngIf="!track.preview_url">(no preview available)</span>
  </div>
</div>
